 
    @*<Icon Type="unordered-list" Theme="outline" Style="font-size:36px;color:whitesmoke" />
    <a style="font-size:36px;color:whitesmoke">ToDo</a> *@

<ToDoLogo></ToDoLogo>
<Space Style="float:right;" >
    <Split>
        <Divider Type="DirectionVHType.Vertical" />
    </Split>
    <ChildContent>
        <SpaceItem>
            <LoginDisplay />
        </SpaceItem>
        @*<SpaceItem>
            <Link>Link</Link>
        </SpaceItem>
        <SpaceItem>
            <Link>Link</Link>
        </SpaceItem>*@
    </ChildContent>
</Space>  

@code {

}
